$mobileDevice: 320px;
$tabletDevice: 768px;
$largeTabletDevice: 992px;
$desktopDevice: 1024px;
$largeDesktopDevice: 1440px;


$light: #f8f9fa;
$blue: #007bff;
$black: #000000;
$golden: #ffd532;
$green: #00e567;
$red: #dc3545;
$purple: #9633fb;
$grey-dark: #343a40;

.app {
  margin: 0 auto;
}